*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
.Rproj.user
rules/align.smk~
rules/bbduk.smk~
rules/common.smk~
rules/diffexp.smk~
rules/qc.smk~
rules/trim.smk~
scripts/common~
scripts/count-matrix.py~
scripts/deseq2-init.R~
scripts/deseq2.R~
scripts/gtf2bed.py~
scripts/plot-pca.R~
envs/deseq2.yaml~
envs/gffutils.yaml~
envs/multiqc.yaml~
envs/pandas.yaml~
envs/rseqc.yaml~
